{
  "extends": ["standard", "standard-jsx"],
  "rules": {
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "ignore"
    }],
    "key-spacing": ["error", {
      "singleLine": {
        "beforeColon": true,
        "afterColon": true
      },
      "multiLine": {
        "beforeColon": false,
        "afterColon": true
      }
    }]
  }
}