.app {
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
  color: yellow;
  background-color: red;
}
form {
  padding-top: 20px;
}
.g-container>span {
  display: block;
  position: relative;
}
.fade-enter {
  position: absolute;
  width: 100%;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 300ms 300ms ease-in-out;
}

.fade-leave {
  position: absolute;
  opacity: 1;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: all 300ms ease-in-out;
}
